In [38]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy
import requests
from config import weather_api_key
from config import g_key
import time
from datetime import datetime

import gmaps

In [4]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Jamestown,100,US,2022-07-16 23:23:12,55,42.0970,-79.2353,78.94,8.05
1,1,San Patricio,6,US,2022-07-16 23:26:40,45,28.0170,-97.5169,93.18,16.58
2,2,Wenling,98,CN,2022-07-16 23:26:40,92,28.3669,121.3600,81.00,7.18
3,3,Broome,0,US,2022-07-16 23:24:35,59,42.2506,-75.8330,80.85,6.91
4,4,Albany,100,US,2022-07-16 23:24:47,53,42.6001,-73.9662,81.34,1.01

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [13]:
locations = city_data_df[['Lat','Lng']]

max_temp = city_data_df['Max Temp']

fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [21]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df.head(20)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Jamestown,100,US,2022-07-16 23:23:12,55,42.0970,-79.2353,78.94,8.05
2,2,Wenling,98,CN,2022-07-16 23:26:40,92,28.3669,121.3600,81.00,7.18
3,3,Broome,0,US,2022-07-16 23:24:35,59,42.2506,-75.8330,80.85,6.91
4,4,Albany,100,US,2022-07-16 23:24:47,53,42.6001,-73.9662,81.34,1.01
5,5,Thompson,75,CA,2022-07-16 23:26:41,47,55.7435,-97.8558,82.56,0.00
7,7,Samarai,68,PG,2022-07-16 23:26:41,81,-10.6167,150.6667,80.44,16.44
11,11,Atuona,86,PF,2022-07-16 23:26:43,73,-9.8000,-139.0333,77.41,14.00
17,17,Chabahar,99,IR,2022-07-16 23:26:45,86,25.2919,60.6430,83.77,9.22
26,26,Dasoguz,0,TM,2022-07-16 23:26:47,39,41.8363,59.9666,80.55,6.91
27,27,Arraial Do Cabo,0,BR,2022-07-16 23:26:48,61,-22.9661,-42.0278,78.66,12.66
29,29,Kavieng,8,PG,2022-07-16 23:26:48,76,-2.5744,150.7967,82.40,11.99
30,30,Beyneu,13,KZ,2022-07-16 23:26:49,19,45.3167,55.2000,88.11,9.78
33,33,Butaritari,100,KI,2022-07-16 23:26:49,80,3.0707,172.7902,80.37,14.38
36,36,Canon City,75,US,2022-07-16 23:26:50,40,38.4410,-105.2424,87.96,12.66
37,37,Miranda,58,CO,2022-07-16 23:26:50,87,3.2499,-76.2281,78.93,2.33
44,44,Xuchang,77,CN,2022-07-16 23:29:23,83,34.0167,113.8167,78.35,2.75
45,45,Garden City,75,US,2022-07-16 23:29:17,64,42.3256,-83.3310,81.90,4.61
47,47,Roma,0,US,2022-07-16 23:25:18,52,43.2128,-75.4557,83.82,6.91
49,49,Seoul,75,KR,2022-07-16 23:26:45,86,37.5683,126.9778,76.39,5.75
60,60,Parrita,40,CR,2022-07-16 23:29:27,80,9.5201,-84.3225,81.03,2.89

In [23]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Cloudiness    0
Country       0
Date          0
Humidity      0
Lat           0
Lng           0
Max Temp      0
Wind Speed    0
dtype: int64

In [26]:
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()

hotel_df['Hotel Name'] = ''

hotel_df.head()

        City Country  Max Temp      Lat       Lng Hotel Name
0  Jamestown      US     78.94  42.0970  -79.2353
2    Wenling      CN     81.00  28.3669  121.3600
3     Broome      US     80.85  42.2506  -75.8330
4     Albany      US     81.34  42.6001  -73.9662
5   Thompson      CA     82.56  55.7435  -97.8558

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame

for index, row in hotel_df.iterrows():

    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    hotels = requests.get(base_url,params=params).json()

    # Grab the first hotel from the results and store the name

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (Exception):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Jamestown,US,78.94,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,Wenling,CN,81.00,28.3669,121.3600,Hanting Express Wenling Wanchang North Road
3,Broome,US,80.85,42.2506,-75.8330,Chenango Valley State Park
4,Albany,US,81.34,42.6001,-73.9662,
5,Thompson,CA,82.56,55.7435,-97.8558,Burntwood Hotel
7,Samarai,PG,80.44,-10.6167,150.6667,Nuli Sapi
11,Atuona,PF,77.41,-9.8000,-139.0333,Villa Enata
17,Chabahar,IR,83.77,25.2919,60.6430,هتل گدروشیا
26,Dasoguz,TM,80.55,41.8363,59.9666,Hotel Erik
27,Arraial Do Cabo,BR,78.66,-22.9661,-42.0278,Pousada Porto Praia
29,Kavieng,PG,82.40,-2.5744,150.7967,Nusa Island Retreat
30,Beyneu,KZ,88.11,45.3167,55.2000,NUR
33,Butaritari,KI,80.37,3.0707,172.7902,Isles Sunset Lodge
36,Canon City,US,87.96,38.4410,-105.2424,Travel Inn Motel
37,Miranda,CO,78.93,3.2499,-76.2281,unidiversidad organica la utopia
44,Xuchang,CN,78.35,34.0167,113.8167,Super 8 Hotel
45,Garden City,US,81.90,42.3256,-83.3310,Big Trees Mobile Home Community
47,Roma,US,83.82,43.2128,-75.4557,Wingate By Wyndham Rome
49,Seoul,KR,76.39,37.5683,126.9778,LOTTE HOTEL SEOUL
60,Parrita,CR,81.03,9.5201,-84.3225,Beso del Viento

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))