## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Yarada,IN,84.52,mist,17.6500,83.2667,Yarada Jungle Beach Resorts
1,4,Acandi,CO,77.31,few clouds,8.5063,-77.2778,Hotel Patio Bonito
2,5,Yellowknife,CA,73.92,broken clouds,62.4560,-114.3525,The Explorer Hotel
3,8,Atuona,PF,76.73,light rain,-9.8000,-139.0333,Villa Enata
4,12,Galesong,ID,84.22,broken clouds,-5.3166,119.3661,Sapriadi Appy

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Wayland']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Wayland']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Yarmouth']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Nantucket'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Grafton']

In [75]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy())[0,5:7]
end = (vacation_end.to_numpy())[0,5:7]
stop1 = (vacation_stop1.to_numpy())[0,5:7]
stop2 = (vacation_stop2.to_numpy())[0,5:7]
stop3 = (vacation_stop3.to_numpy())[0,5:7]

array([42.207, -71.6856], dtype=object)

In [79]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

waypoints = [stop1,stop2,stop3]

directions_layer = gmaps.directions_layer(start,end,waypoints=waypoints,travel_mode='DRIVING')

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [80]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,675,Wayland,US,76.44,overcast clouds,42.3626,-71.3615,Inn On The Horse Farm
1,675,Wayland,US,76.44,overcast clouds,42.3626,-71.3615,Inn On The Horse Farm
2,209,Yarmouth,US,75.97,overcast clouds,41.7057,-70.2286,Blue Rock Resort
3,97,Nantucket,US,75.99,mist,41.2835,-70.0995,Jared Coffin House
4,218,Grafton,US,75.15,overcast clouds,42.2070,-71.6856,The Grafton Inn

In [81]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [82]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))